{% extends './wrapper_base.html' %}
{% load static %}
{% load random_numbers %}
{% block main %}
<div class="projects-section">
    <div class="projects-section-header">
        <p>Занятия</p>
        <!--                <p class="time">Декабрь, 12</p>-->
    </div>
    <div class="projects-section-line">
        <!--        <div class="projects-status">-->
        <!--            <div class="item-status">-->
        <!--                <span class="status-number">45</span>-->
        <!--                <span class="status-type">Выполняемые</span>-->
        <!--            </div>-->
        <!--            <div class="item-status">-->
        <!--                <span class="status-number">24</span>-->
        <!--                <span class="status-type">Крайние сроки</span>-->
        <!--            </div>-->
        <!--            <div class="item-status">-->
        <!--                <span class="status-number">62</span>-->
        <!--                <span class="status-type">Всего задание</span>-->
        <!--            </div>-->
        <!--        </div>-->
        <div class="view-actions">
            <button class="view-btn list-view" title="List View">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-list">
                    <line x1="8" y1="6" x2="21" y2="6"/>
                    <line x1="8" y1="12" x2="21" y2="12"/>
                    <line x1="8" y1="18" x2="21" y2="18"/>
                    <line x1="3" y1="6" x2="3.01" y2="6"/>
                    <line x1="3" y1="12" x2="3.01" y2="12"/>
                    <line x1="3" y1="18" x2="3.01" y2="18"/>
                </svg>
            </button>
            <button class="view-btn grid-view active" title="Grid View">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-grid">
                    <rect x="3" y="3" width="7" height="7"/>
                    <rect x="14" y="3" width="7" height="7"/>
                    <rect x="14" y="14" width="7" height="7"/>
                    <rect x="3" y="14" width="7" height="7"/>
                </svg>
            </button>
        </div>
    </div>


    <div class="project-boxes jsGridView">
        {% for subs in subject_name %}
        <div class="project-box-wrapper">
            <div class="project-box"
                 style="background-color: rgb({% random_int 200 255  %},{% random_int 210 255 %},{% random_int 200 255  %})">

                <div class="project-box-header">
                    <span>{{subs.added|date:"d.m.Y - H:i"}}</span>
                    <div class="more-wrapper">
                        <button class="project-btn-more">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none"
                                 stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round"
                                 class="feather feather-more-vertical">
                                <circle cx="12" cy="12" r="1"/>
                                <circle cx="12" cy="5" r="1"/>
                                <circle cx="12" cy="19" r="1"/>
                            </svg>
                        </button>
                    </div>
                </div>

                <div class="project-box-content-header row">
                    <a style="text-decoration:none;" href="{% url 'studentapp:questions' subs.id %}">
                        {{ subs.title }}
                    </a>
                </div>

                <div class="project-box-footer">
                    <div class="participants">

                    </div>
                    <div class="days-left" style="color: #ff942e;">Группа: {{subs.to_group.all|join:", "}}</div>
                </div>

            </div>

        </div>

        {% endfor %}
    </div>
</div>
{% endblock %}

{% block message %}
<div class="messages-section">
    <button class="messages-close">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
             class="feather feather-x-circle">
            <circle cx="12" cy="12" r="10"/>
            <line x1="15" y1="9" x2="9" y2="15"/>
            <line x1="9" y1="9" x2="15" y2="15"/>
        </svg>
    </button>
    <div class="projects-section-header">
        <p>Сообщения</p>
    </div>
    <div class="messages">
        <div class="message-box">
            <img src="{% static 'studentapp/assets/images/serdyukov.jpg' %}">
            <div class="message-content">
                <div class="message-header">
                    <div class="name">Сердюков Р.Е.</div>
                    <div class="star-checkbox">
                        <input type="checkbox" id="star-1">
                        <label for="star-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-star">
                                <polygon
                                        points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"/>
                            </svg>
                        </label>
                    </div>
                </div>
                <p class="message-line">
                    Здравствуйте, проверил вашу работу поздравляю 🥳, вы прошли сессию на отлично.
                </p>
                <p class="message-line time">
                    Dec, 12
                </p>
            </div>
        </div>
        <div class="message-box">
            <img src="{% static 'studentapp/assets/images/19.png' %}">
            <div class="message-content">
                <div class="message-header">
                    <div class="name">Шункевич Д. В</div>
                    <div class="star-checkbox">
                        <input type="checkbox" id="star-2">
                        <label for="star-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-star">
                                <polygon
                                        points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"/>
                            </svg>
                        </label>
                    </div>
                </div>
                <p class="message-line">
                    Добрый день, проверил и прокоментировал вашу работу.
                </p>
                <p class="message-line time">
                    Dec, 12
                </p>
            </div>
        </div>
    </div>
    <div class="projects-section-header">
        <a href="{% url 'studentapp:schedules' %}"><p>Расписания</p></a>
    </div>
    <div class="wrap">
        <div class="table-wrapper">
            <table class="table-responsive card-list-table">
                <thead>
                <tr>
                    <th>Предмет</th>
                    <th>Кабинет</th>
                    <th>Время</th>
                </tr>
                </thead>
                <tbody id='app'>
                <tr>
                    <td data-title="Группа">   {* group[0] *}</td>
                    <td data-title="День">   {* weekDay[0] *}</td>
                    <td data-title="Предмет">   {* subject[0]*} <strong>({* lesson_type[0]*})</strong></td>
                    <td data-title="Кабинет">   {* auditory[0] *}</td>
                    <td data-title="Время">   {* lessonTime[0] *}</td>
                </tr>
                <tr>
                    <td data-title="Группа">   {* group[0] *}</td>
                    <td data-title="День">   {* weekDay[1] *}</td>
                    <td data-title="Предмет">   {* subject[1]*} <strong>({* lesson_type[1]*})</strong></td>
                    <td data-title="Кабинет">   {* auditory[1] *}</td>
                    <td data-title="Время">   {* lessonTime[1] *}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="live-chat">

        <header class="clearfix2">
            <a href="#" class="chat-close">x</a>
            <h4>Helper Bot</h4>
            <span class="chat-message-counter">1</span>
        </header>

        <div class="chat">
            <div class="chat-history">
                <div class="chat-message clearfix2">
                    <img src="{% static 'studentapp/assets/images/fs.png' %}" alt="" width="32" height="32">
                    <div class="chat-message-content clearfix2">
                        <h5>Bot</h5>
                        <p>Добро пожаловать на платформу поддержки студентам</p>
                    </div>
                    <!-- end chat-message-content -->
                </div>
            </div>
            <!-- end chat-history -->
            <form id="chating" onsubmit="return false;">
                <fieldset>
                    <input id="text" type="text" placeholder="Что вы хотите узнать" autofocus>
                    <input type="hidden">
                </fieldset>
            </form>
        </div>
        <!-- end chat -->

    </div>
    <!-- end live-chat -->


</div>
{% endblock %}